*{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
footer{
    background-color: purple;
}
header{
    background-color: green;
}
em{
    vertical-align: super;
}
h1{
    font-family: 'Comforter', cursive;
    font-size: 2em;
}
h2{
    font-family: 'BentonSans', 'Roboto', sans-serif;
    font-size: 1.7em;
    
}