@font-face {
    font-family: 'BentonSans';
    src: url('fonts/BentonSans-Bold.eot');
    src: url('fonts/BentonSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/BentonSans-Bold.woff2') format('woff2'),
        url('fonts/BentonSans-Bold.woff') format('woff'),
        url('fonts/BentonSans-Bold.ttf') format('truetype'),
        url('fonts/BentonSans-Bold.svg#BentonSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
